DATABASE_URL=
SUPABASE_URL=https://jrqaxtyonetmmrkepcrx.supabase.co
PORT=5000
VITE_API_URL=http://localhost:5000
EMAIL_PROVIDER=none
EMAIL_FROM=
EMAIL_VERIFICATION_BASE_URL=http://localhost:5000/api/verify-email
