DATABASE_URL=
SUPABASE_URL=https://jrqaxtyonetmmrkepcrx.supabase.co
PORT=5000
VITE_API_URL=http://localhost:5000
EMAIL_PROVIDER=resend
RESEND_API_KEY=
EMAIL_FROM=Indian Red Cross Society - NIET <onboarding@resend.dev>
EMAIL_VERIFICATION_BASE_URL=http://localhost:5000/api/verify-email
